/* --- Reset --- */
*,
*:before,
*:after {
   border: 0;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   -webkit-box-sizing: border-box;
}

html,
body {
   background-color: #fff;
   color: #333;
   font-family: Arial;
   font-size: 16px;
   font-weight: 400;
   line-height: 1.2;
   height: 100%;
}

ul li {
   list-style: none;
}

/* --- Common --- */
.container {
   max-width: 1280px;
   margin: 0 auto;
}

.container>header,
.container>footer,
.main>section {
   padding: 50px;
}

.main {}

.section-title {
   color: #445161;
   font-size: 30px;
   font-weight: 400;
   text-align: center;
}

.left {
   text-align: left;
}

.button {}

.img {
   overflow: hidden;
   max-width: 100%;
   max-height: 100%;
   object-fit: cover;
   object-position: center;
}

@media (max-width: 1040px) {
   .img {
      margin: 40px 0 0 0;
   }
}

/* --- Header --- */
.header {
   background-color: #445161;
   color: #fff;
   justify-content: space-between;
   display: flex;
   flex-wrap: wrap;
   width: 100%;
}


.header__wrapper {
   max-width: 450px;
   margin: -10px 20px 0 0;
}

.header__title {
   font-size: 60px;
   margin: 0 0 33px 0;
}

.header__list {}

.header__list__item {
   font-size: 20px;
   font-weight: normal;
   line-height: 36px;
   position: relative;
   margin: 0 0 0 25px;
}

.header__list__item:before {
   content: '';
   background-image: url(../img/check-icon.svg);
   background-size: cover;
   -webkit-background-size: cover;
   background-repeat: no-repeat;
   display: block;
   width: 25px;
   height: 19px;
   position: absolute;
   left: -35px;
   top: 5px;
}

.product__img {}


/* --- About --- */
.about {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.about__wrapper {
   max-width: 665px;
   margin: 0 20px 0 0;
}

.about__text {
   margin: 25px 0;
}

.about__video {}

/* --- Pluses --- */
.pluses {
   background-color: #f5f5f5;
}

.pluses__wrapper {}

.pluses__list {}

.pluses__list__item {}

/* --- Screenshots --- */
.screenshots {}

.screenshots__wrapper {}

.screenshots__figure {}

.screenshots__figure__img {}

.screenshots__figure__caption {}

.screenshots__figure__caption__title {}

.screenshots__figure__caption__text {}


/* --- Reviews --- */
.reviews {
   background-color: #f5f5f5;
}

.reviews__wrapper {}

.reviews__figure {}

.reviews__figure__img {
   border-radius: 50%;
}

.reviews__figure__caption {}

.reviews__figure__caption__text {}

.reviews__figure__caption__link {}


/* --- Buy It Now --- */
.buy-it-now {}

.buy-it-now__wrapper {}

.buy-it-now__price-option {}

.buy-it-now__price-option__title {}

.buy-it-now__price-option__price {}

.buy-it-now__price-option__text {}

.standard {}

.premium {}

.lux {}



/* --- Footer --- */
.footer {
   background-color: #445161;
   color: #fff;
}

.footer__title {}

.footer__wrapper {}

.footer__section {}

.footer__section__form {}

.send-btn {}

.footer__section__info {}

.footer__section__info__link {}

.skype {}

.messenger {}

.email {}

.phone {}

.footer__section__info__social {}

.footer__section__info__social__link {}

.twitter {}

.facebook {}

.linkedin {}

.google {}

.youtube {}

.footer__copyright {}

.footer__copyright__text {}

.footer__copyright__link {}